# Pipeline de Limpeza de Dados

## Importandos as Bibliotecas e os Dados

In [139]:
# Bibliotecas

import pandas as pd
import unicodedata
import re
import numpy as np

In [140]:
# Dados

df = pd.read_csv("dados.csv")
df1 = df.copy()

## Vizualizando o Dataframe

In [141]:
df1.head()

,ID Cliente,NOME COMPLETO!,E-mail@Principal,idade,Data de Nascimento#,Telefone/Celular,CEP (Código),Endereço & Cidade,Estado-UF,Salário (R$),Status_da_Conta,Score de Crédito%,Produto Favorito*,Data da Última Compra,Valor Total Gasto,Categoria-Cliente,Unnamed: 16,Obs: Comentários,Ativo? (S/N),Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [142]:
df1.dtypes

  ID Cliente               int64
NOME COMPLETO!            object
E-mail@Principal          object
 idade                    object
Data de Nascimento#       object
Telefone/Celular          object
CEP (Código)              object
Endereço & Cidade         object
Estado-UF                 object
Salário (R$)              object
Status_da_Conta           object
Score de Crédito%         object
Produto Favorito*         object
Data da Última Compra     object
Valor Total Gasto         object
Categoria-Cliente         object
Unnamed: 16              float64
Obs: Comentários          object
Ativo? (S/N)              object
Regional/Zona             object
dtype: object

In [143]:
df1.shape

(52500, 20)

In [144]:
df1.describe

<bound method NDFrame.describe of          ID Cliente      NOME COMPLETO!                E-mail@Principal  \
0                   1         Ana Silva             ana.silva@yahoo.com
1                   2       Carla Souza                             NaN
2                   3         Ana Costa           ana.costa@hotmail.com
3                   4    Mariana Santos       mariana.santos@bol.com.br
4                   5       MARIA silva       maria.silva@hotmail.com
...               ...               ...                             ...
52495           26846    PAULO ferreira    paulo.ferreira@outlook.com
52496           45552    Patricia Silva     patricia.silva@uol.com.br
52497           25412        João Alves           joão.alves@uol.com.br
52498           44726       Lucia Gomes           lucia.gomes@gmail.com
52499           30012  Carlos Rodrigues    carlos.rodrigues@outlook.com

       idade  Data de Nascimento# Telefone/Celular CEP (Código)  \
0          56        Janeiro 1992  (85) 16400-0408     04397312
1          69          10/18/1950    31 87481-2231       123456
2          46                 NaN  (11) 93064-3172    81093-112
3          32          06/08/1976  (11) 42963-8044     80681606
4          60          03/19/2001    11 60767-0256    34867-654
...       ...                 ...              ...          ...
52495      38          09/21/1996  (11) 02698-1177     55227309
52496      53          11/09/1968  (11) 99999-9999    05529-465
52497      18          06/09/1968              123     60427184
52498      75          15/02/1990      11587515945     71609249
52499      35          01/16/1970    11 58549-1317    02218-308

                          Endereço & Cidade Estado-UF          Salário (R$)  \
0                                       NaN        CE  Salário confidencial
1            Rua Principal, 935 - Guarulhos        PA         Não informado
2              Rua Central, 633 - Fortaleza        RJ                 12030
3             Rua Principal, 630 - Brasília        RS                 12038
4               Rua da Paz, 673 - Fortaleza        BA                 14659
...                                     ...       ...                   ...
52495  Rua das Flores, 941 - Rio de Janeiro        SP                 14486
52496     Rua Central, 860 - Rio de Janeiro        SP              3,500.50
52497             Rua da Paz, 51 - Brasília        PE                  6930
52498          Rua da Paz, 2 - Porto Alegre        SP                  9779
52499          Rua das Flores, 372 - Manaus        RS                  8644

      Status_da_Conta Score de Crédito% Produto Favorito*  \
0            Suspenso               852           Monitor
1               Ativo               517           Monitor
2                   A               428           TECLADO
3             Inativo               662          Notebook
4           Bloqueado               375            CAMERA
...               ...               ...               ...
52495        Suspenso               550                TV
52496         Inativo               836          Notebook
52497       Bloqueado               866           Teclado
52498           Ativo             Baixo            Camera
52499       Bloqueado               381             Mouse

      Data da Última Compra Valor Total Gasto Categoria-Cliente  Unnamed: 16  \
0                30/09/2024           4495.03              Ouro          NaN
1                2024-09-13           6751.27          Diamante          NaN
2                03-13-2024           6900.93              Ouro          NaN
3                04-06-2024           3743.36           Platina          NaN
4                01-27-2024            9077.3              Ouro          NaN
...                     ...               ...               ...          ...
52495            13/07/2024           2090.78            Bronze          NaN
52496            2024/01/15            R$2500            Bronze          NaN
52497            10-28-2024            718.06            Bronze          NaN
52498            12-30-2024           1218.89              Ouro          NaN
52499            09/09/2024           3468.76           Platina          NaN

         Obs: Comentários Ativo? (S/N) Regional/Zona
0                     NaN        Ativo         norte
1                     NaN            S  centro-oeste
2                     NaN            N  centro-oeste
3                     NaN            N        Centro
4                     NaN            N        Centro
...                   ...          ...           ...
52495    CLIENTE EXIGENTE            N           Sul
52496  Registro duplicado            S        Centro
52497  Registro duplicado            N         norte
52498  Registro duplicado            S         Norte
52499                 NaN            N           SUL

[52500 rows x 20 columns]>

In [145]:
df1.isnull().sum()

  ID Cliente                 0
NOME COMPLETO!               0
E-mail@Principal          7888
 idade                    2164
Data de Nascimento#       2575
Telefone/Celular          2097
CEP (Código)              2163
Endereço & Cidade         5220
Estado-UF                 1402
Salário (R$)              2073
Status_da_Conta           1046
Score de Crédito%         3039
Produto Favorito*         6230
Data da Última Compra     3346
Valor Total Gasto         2105
Categoria-Cliente         1162
Unnamed: 16              52500
Obs: Comentários         40034
Ativo? (S/N)              1096
Regional/Zona             2677
dtype: int64

## Padronizando os Dados

- remover espaços
- normalizar acentos
- transformar para minúsculas
- padronizar datas
- converter tipos
- normalizar categorias

### Padronização dos Nomes das Colunas

In [146]:
# função de padronização das colunas
def padronizar_colunas(colunas):
    novas_colunas = []
    for col in colunas:
        col = unicodedata.normalize('NFKD', col).encode('ascii', 'ignore').decode('utf-8')
        col = col.lower()
        col = re.sub(r'[^a-z0-9_]', '_', col)
        col = re.sub(r'_+', '_', col)
        col = col.strip('_')
        novas_colunas.append(col)
    return novas_colunas

df1.columns = padronizar_colunas(df1.columns)

In [147]:
df1.head()

,id_cliente,nome_completo,e_mail_principal,idade,data_de_nascimento,telefone_celular,cep_codigo,endereco_cidade,estado_uf,salario_r,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo_s_n,regional_zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [148]:
# Renomeando colunas específicas

df1 = df1.rename(columns={
    "e_mail_principal": "email",
    "cep_codigo": "cep",
    "endereco_cidade": "endereco",
    "salario_r": "salario",
    "ativo_s_n": "ativo"
})

In [149]:
df1.head()

,id_cliente,nome_completo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

### Padronização de Colunas Diversas

In [150]:
df1.head()

,id_cliente,nome_completo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [151]:
cols = ['endereco', 'status_da_conta', 'produto_favorito', 'categoria_cliente', 'ativo', 'regional_zona']

for col in cols:
    df1[col] = (
        df1[col]
        .str.normalize('NFKD')
        .str.encode('ascii', errors='ignore')
        .str.decode('utf-8')
        .str.lower()
        .str.strip()
        .str.replace(r'\s+', ' ', regex=True)
    )

In [152]:
df1.head()

,id_cliente,nome_completo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,suspenso,852,monitor,30/09/2024,4495.03,ouro,NaN,NaN,ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,Não informado,ativo,517,monitor,2024-09-13,6751.27,diamante,NaN,NaN,s,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,12030,a,428,teclado,03-13-2024,6900.93,ouro,NaN,NaN,n,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,12038,inativo,662,notebook,04-06-2024,3743.36,platina,NaN,NaN,n,centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,14659,bloqueado,375,camera,01-27-2024,9077.3,ouro,NaN,NaN,n,centro

### Padronização Específica por Coluna

#### Padronização da Coluna "nome_completo"

In [153]:
df1["nome_completo"].tail()

52495      PAULO ferreira
52496      Patricia Silva
52497          João Alves
52498         Lucia Gomes
52499    Carlos Rodrigues
Name: nome_completo, dtype: object

In [154]:
df1['nome_completo'] = df1['nome_completo'].str.title()

In [155]:
df1['nome_completo'] = df1['nome_completo'].str.replace(
    r'^(sr\.?|sra\.?|srta\.?|dr\.?|dra\.?|prof\.?|profa\.?)\s*',
    '',
    regex=True,
    flags=re.IGNORECASE
)

In [156]:
df1["nome_completo"].tail()

52495      Paulo Ferreira
52496      Patricia Silva
52497          João Alves
52498         Lucia Gomes
52499    Carlos Rodrigues
Name: nome_completo, dtype: object

In [157]:
# Criando a coluna "nome_limpo"

df1['nome_limpo'] = (
    df1['nome_completo']
    .str.normalize('NFKD')
    .str.encode('ascii', errors='ignore')
    .str.decode('utf-8')
    .str.lower()
    .str.strip()
    .str.replace(r'\s+', ' ', regex=True)
)

colunas = list(df1.columns)

# Alterando a posição da coluna nome_limpo

idx = colunas.index('nome_completo')
colunas.remove('nome_limpo')
colunas.insert(idx + 1, 'nome_limpo')
df1 = df1[colunas]

In [158]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,...,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,...,suspenso,852,monitor,30/09/2024,4495.03,ouro,NaN,NaN,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,10/18/1950,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,...,ativo,517,monitor,2024-09-13,6751.27,diamante,NaN,NaN,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,...,a,428,teclado,03-13-2024,6900.93,ouro,NaN,NaN,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,...,inativo,662,notebook,04-06-2024,3743.36,platina,NaN,NaN,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,...,bloqueado,375,camera,01-27-2024,9077.3,ouro,NaN,NaN,n,centro

#### Padronização da Coluna "email"

**O que pode ser feito com segurança**

- Remover espaços extras
- Converter para minúsculas
- Remover quebras de linha
- Tratar casos óbvios de sujeira (“;”, vírgulas, espaços no meio)
- Validar formato básico (opcional)

**O que não deve ser feito**

- Não remover pontos antes do @ (ex.: joao.silva@gmail.com ≠ joaosilva@gmail.com)
- Não remover sinais como “+” (ex.: joao+teste@gmail.com é válido)
- Não tentar “corrigir” domínios manualmente
- Não aplicar normalização de acentos (e‑mail não deve ter acentos, mas se tiver, é melhor sinalizar do que alterar)

In [159]:
df1.tail()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,...,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
52495,26846,Paulo Ferreira,paulo ferreira,paulo.ferreira@outlook.com,38,09/21/1996,(11) 02698-1177,55227309,"rua das flores, 941 - rio de janeiro",SP,...,suspenso,550,tv,13/07/2024,2090.78,bronze,NaN,CLIENTE EXIGENTE,n,sul
52496,45552,Patricia Silva,patricia silva,patricia.silva@uol.com.br,53,11/09/1968,(11) 99999-9999,05529-465,"rua central, 860 - rio de janeiro",SP,...,inativo,836,notebook,2024/01/15,R$2500,bronze,NaN,Registro duplicado,s,centro
52497,25412,João Alves,joao alves,joão.alves@uol.com.br,18,06/09/1968,123,60427184,"rua da paz, 51 - brasilia",PE,...,bloqueado,866,teclado,10-28-2024,718.06,bronze,NaN,Registro duplicado,n,norte
52498,44726,Lucia Gomes,lucia gomes,lucia.gomes@gmail.com,75,15/02/1990,11587515945,71609249,"rua da paz, 2 - porto alegre",SP,...,ativo,Baixo,camera,12-30-2024,1218.89,ouro,NaN,Registro duplicado,s,norte
52499,30012,Carlos Rodrigues,carlos rodrigues,carlos.rodrigues@outlook.com,35,01/16/1970,11 58549-1317,02218-308,"rua das flores, 372 - manaus",RS,...,bloqueado,381,mouse,09/09/2024,3468.76,platina,NaN,NaN,n,sul

In [160]:
df1['email'] = (
    df1['email']
    .astype(str)
    .str.strip()
    .str.lower()
    .str.replace(r'\s+', '', regex=True)
    .str.replace(r'[;,]+', '', regex=True)
)

In [161]:
def limpar_e_validar_email(e):
    e = str(e).strip().lower()
    e = e.replace(" ", "")

    # Valores "nulos"
    if e in ["", "nao_informado", "não_informado", "nao informado", "none", "null"]:
        return np.nan

    # Sem arroba
    if '@' not in e:
        return np.nan

    usuario, dominio = e.split('@', 1)

    # Sem usuario antes do @
    if usuario == "":
        return np.nan

    # Dominio sem ponto
    if '.' not in dominio:
        return np.nan

    return e

df1['email'] = df1['email'].apply(limpar_e_validar_email)

In [162]:
df1.tail()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,...,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
52495,26846,Paulo Ferreira,paulo ferreira,paulo.ferreira@outlook.com,38,09/21/1996,(11) 02698-1177,55227309,"rua das flores, 941 - rio de janeiro",SP,...,suspenso,550,tv,13/07/2024,2090.78,bronze,NaN,CLIENTE EXIGENTE,n,sul
52496,45552,Patricia Silva,patricia silva,patricia.silva@uol.com.br,53,11/09/1968,(11) 99999-9999,05529-465,"rua central, 860 - rio de janeiro",SP,...,inativo,836,notebook,2024/01/15,R$2500,bronze,NaN,Registro duplicado,s,centro
52497,25412,João Alves,joao alves,joão.alves@uol.com.br,18,06/09/1968,123,60427184,"rua da paz, 51 - brasilia",PE,...,bloqueado,866,teclado,10-28-2024,718.06,bronze,NaN,Registro duplicado,n,norte
52498,44726,Lucia Gomes,lucia gomes,lucia.gomes@gmail.com,75,15/02/1990,11587515945,71609249,"rua da paz, 2 - porto alegre",SP,...,ativo,Baixo,camera,12-30-2024,1218.89,ouro,NaN,Registro duplicado,s,norte
52499,30012,Carlos Rodrigues,carlos rodrigues,carlos.rodrigues@outlook.com,35,01/16/1970,11 58549-1317,02218-308,"rua das flores, 372 - manaus",RS,...,bloqueado,381,mouse,09/09/2024,3468.76,platina,NaN,NaN,n,sul

#### Padronização da Coluna "idade"

In [163]:
df1["idade"].tail()

52495    38
52496    53
52497    18
52498    75
52499    35
Name: idade, dtype: object

In [164]:
df1.dtypes

id_cliente                 int64
nome_completo             object
nome_limpo                object
email                     object
idade                     object
data_de_nascimento        object
telefone_celular          object
cep                       object
endereco                  object
estado_uf                 object
salario                   object
status_da_conta           object
score_de_credito          object
produto_favorito          object
data_da_ultima_compra     object
valor_total_gasto         object
categoria_cliente         object
unnamed_16               float64
obs_comentarios           object
ativo                     object
regional_zona             object
dtype: object

In [165]:
# fazer função para limpar as strings antes de converter para int64

df1['idade'] = pd.to_numeric(df1['idade'], errors='coerce').astype('float64')
pd.set_option('display.float_format', '{:.0f}'.format)
df1.loc[(df1['idade'] < 0) | (df1['idade'] > 100), 'idade'] = np.nan

In [166]:
df1["idade"].unique()

array([56., 69., 46., 32., 60., 25., 78., nan, 38., 75., 36., 40., 28.,
       41., 70., 53., 57., 20., 39., 19., 61., 47., 55., 77., 50., 29.,
       42., 66., 44., 76., 59., 45., 33., 79., 64., 68., 72., 74., 54.,
       24., 26., 35., 21., 31., 67., 43., 37., 52., 34., 23., 71., 51.,
       27., 48., 65., 62., 58., 18., 22., 30., 49., 73., 63.])

In [167]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,...,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,...,suspenso,852,monitor,30/09/2024,4495.03,ouro,NaN,NaN,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,10/18/1950,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,...,ativo,517,monitor,2024-09-13,6751.27,diamante,NaN,NaN,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,...,a,428,teclado,03-13-2024,6900.93,ouro,NaN,NaN,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,...,inativo,662,notebook,04-06-2024,3743.36,platina,NaN,NaN,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,...,bloqueado,375,camera,01-27-2024,9077.3,ouro,NaN,NaN,n,centro

In [168]:
df1.dtypes

id_cliente                 int64
nome_completo             object
nome_limpo                object
email                     object
idade                    float64
data_de_nascimento        object
telefone_celular          object
cep                       object
endereco                  object
estado_uf                 object
salario                   object
status_da_conta           object
score_de_credito          object
produto_favorito          object
data_da_ultima_compra     object
valor_total_gasto         object
categoria_cliente         object
unnamed_16               float64
obs_comentarios           object
ativo                     object
regional_zona             object
dtype: object

#### Padronização das Colunas "data_de_nascimento" e "data_da_ultima_compra"

In [169]:
df1["data_de_nascimento"].head()

0    Janeiro 1992
1      10/18/1950
2             NaN
3      06/08/1976
4      03/19/2001
Name: data_de_nascimento, dtype: object

In [170]:
df1["data_da_ultima_compra"].head()

0    30/09/2024
1    2024-09-13
2    03-13-2024
3    04-06-2024
4    01-27-2024
Name: data_da_ultima_compra, dtype: object

In [171]:
def limpar_data(col, validar_intervalo=True, ano_min=1900, ano_max=2026):
    # Converte para formato de data (datetime)
    col = pd.to_datetime(col, errors='coerce')
    
    # Validação de intervalo ()
    if validar_intervalo:
        if ano_min is not None:
            col = col.mask(col.dt.year < ano_min, pd.NaT)
        if ano_max is not None:
            col = col.mask(col.dt.year > ano_max, pd.NaT)
    
    return col

In [172]:
df1['data_de_nascimento'] = limpar_data(df1['data_de_nascimento'], validar_intervalo=True, ano_min=1900, ano_max=2026)
df1['data_da_ultima_compra'] = limpar_data(df1['data_da_ultima_compra'])

C:\Users\letic\AppData\Local\Temp\ipykernel_22612\3487823548.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  col = pd.to_datetime(col, errors='coerce')
C:\Users\letic\AppData\Local\Temp\ipykernel_22612\3487823548.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  col = pd.to_datetime(col, errors='coerce')

In [173]:
df1["data_de_nascimento"].head()

0          NaT
1   1950-10-18
2          NaT
3   1976-06-08
4   2001-03-19
Name: data_de_nascimento, dtype: datetime64[ns]

In [174]:
df1["data_da_ultima_compra"].head()

0   2024-09-30
1          NaT
2          NaT
3          NaT
4          NaT
Name: data_da_ultima_compra, dtype: datetime64[ns]

#### Padronização da Coluna "telefone_celular"

In [175]:
df1["telefone_celular"].head()

0    (85) 16400-0408
1      31 87481-2231
2    (11) 93064-3172
3    (11) 42963-8044
4      11 60767-0256
Name: telefone_celular, dtype: object

In [176]:
def padronizar_telefone(telefone, apenas_digitos=False):
    if pd.isna(telefone):
        return None
    
    numero_limpo = re.sub(r'\D', '', str(telefone))
    
    if len(numero_limpo) == 13 and numero_limpo.startswith('55'):
        return f"+{numero_limpo[:2]} ({numero_limpo[2:4]}) {numero_limpo[4:9]}-{numero_limpo[9:]}"
    elif len(numero_limpo) == 11:
        return f"({numero_limpo[:2]}) {numero_limpo[2:7]}-{numero_limpo[7:]}"
    elif len(numero_limpo) == 10:
        return f"({numero_limpo[:2]}) {numero_limpo[2:6]}-{numero_limpo[6:]}"
    else:
        return numero_limpo

In [177]:
df1['telefone_celular'] = df1['telefone_celular'].apply(padronizar_telefone)

In [178]:
df1["telefone_celular"].head()

0    (85) 16400-0408
1    (31) 87481-2231
2    (11) 93064-3172
3    (11) 42963-8044
4    (11) 60767-0256
Name: telefone_celular, dtype: object

In [179]:
# Convertendo para string

df1['telefone_celular'] = df1['telefone_celular'].astype('string')

In [180]:
df1["telefone_celular"].dtype

string[python]

#### Padronização da Coluna "cep"

In [181]:
df1["cep"].head()

0     04397312
1       123456
2    81093-112
3     80681606
4    34867-654
Name: cep, dtype: object

In [182]:
def padronizar_cep(cep):
    if pd.isna(cep):
        return pd.NA
    
    cep_limpo = re.sub(r'\D', '', str(cep))
    cep_limpo = cep_limpo.zfill(8)

    if len(cep_limpo) == 8:
        return f"{cep_limpo[:5]}-{cep_limpo[5:]}"
    
    return pd.NA

In [183]:
df1['cep'] = df1['cep'].apply(padronizar_cep)

In [184]:
df1["cep"] = df1["cep"].astype("string")

In [185]:
df1["cep"].head()

0    04397-312
1    00123-456
2    81093-112
3    80681-606
4    34867-654
Name: cep, dtype: string

#### Padronização da Coluna "endereco"

In [186]:
df1["endereco"].head()

0                               NaN
1    rua principal, 935 - guarulhos
2      rua central, 633 - fortaleza
3     rua principal, 630 - brasilia
4       rua da paz, 673 - fortaleza
Name: endereco, dtype: object

In [187]:
df1["endereco"].dtype

dtype('O')

In [188]:
# Convertendo de Object para String

df1["endereco"] = df1["endereco"].astype("string")

In [189]:
df1["endereco"].dtype

string[python]

In [190]:
df1["endereco"].isna().sum()

np.int64(5220)

In [191]:
# Checando a qualidade e a consistência estrutural

df1["endereco"].str.len().describe()

count   47280
mean       29
std         3
min        21
25%        26
50%        28
75%        30
max        36
Name: endereco, dtype: Float64

In [192]:
# Procurando caracteres inesperados

df1["endereco"].str.contains(r"[^a-z0-9\s\.,º°\-]", regex=True).sum()

np.int64(0)

In [193]:
# Procurando vírgulas duplicadas

df1["endereco"].str.contains(r",,", regex=True).sum()

np.int64(0)

In [194]:
# Vendo padrões de início (rua, avenida, travessa…)

df1["endereco"].str.extract(r"^([a-z]+)")

          0
0      <NA>
1       rua
2       rua
3       rua
4       rua
...     ...
52495   rua
52496   rua
52497   rua
52498   rua
52499   rua

[52500 rows x 1 columns]

In [195]:
# Checando se todas tem número

df1["endereco"].str.contains(r"\d").mean()

np.float64(1.0)

In [196]:
df1["endereco"].head()

0                              <NA>
1    rua principal, 935 - guarulhos
2      rua central, 633 - fortaleza
3     rua principal, 630 - brasilia
4       rua da paz, 673 - fortaleza
Name: endereco, dtype: string

#### Padronização da Coluna "estado_uf"

In [197]:
df1["estado_uf"].tail()

52495    SP
52496    SP
52497    PE
52498    SP
52499    RS
Name: estado_uf, dtype: object

In [198]:
# Normalizando o texto

df1['estado_uf'] = (
    df1['estado_uf']
    .astype(str)
    .str.normalize('NFKD')
    .str.encode('ascii', errors='ignore')
    .str.decode('utf-8')
    .str.lower()
    .str.replace('.', '', regex=False)
    .str.strip()
    .str.replace(r'\s+', ' ', regex=True)
)

In [199]:
df1["estado_uf"].tail()

52495    sp
52496    sp
52497    pe
52498    sp
52499    rs
Name: estado_uf, dtype: object

In [200]:
# Mapeando os nomes dos estados

mapa_estados = {
    "acre": "AC",
    "alagoas": "AL",
    "amapa": "AP",
    "amazonas": "AM",
    "bahia": "BA",
    "ceara": "CE",
    "distrito federal": "DF",
    "espirito santo": "ES",
    "goias": "GO",
    "maranhao": "MA",
    "mato grosso": "MT",
    "mato grosso do sul": "MS",
    "minas gerais": "MG",
    "para": "PA",
    "paraiba": "PB",
    "parana": "PR",
    "pernambuco": "PE",
    "piaui": "PI",
    "rio de janeiro": "RJ",
    "rio grande do norte": "RN",
    "rio grande do sul": "RS",
    "rondonia": "RO",
    "roraima": "RR",
    "santa catarina": "SC",
    "sao paulo": "SP",
    "sergipe": "SE",
    "tocantins": "TO",
}

In [201]:
# Aplicando o mapeamento

df1['estado_uf'] = df1['estado_uf'].replace(mapa_estados)

In [202]:
# Deixando as siglas em maiúsculas

df1['estado_uf'] = df1['estado_uf'].str.upper()

In [203]:
df1["estado_uf"].tail()

52495    SP
52496    SP
52497    PE
52498    SP
52499    RS
Name: estado_uf, dtype: object

#### Padronização da Coluna "salario"

In [204]:
df1["salario"].head()

0    Salário confidencial
1           Não informado
2                   12030
3                   12038
4                   14659
Name: salario, dtype: object

In [205]:
def clean_salario(df, coluna="salario"):

    # Lista de valores que são considerados nulos
    valores_sem_salario = {
        "salário confidencial",
        "salario confidencial",
        "não informado",
        "nao informado",
        "nao_informado",
        "",
    }
    
    # Normalização inicial
    col = (
        df[coluna]
        .astype("string")
        .str.strip()
        .str.lower()
    )

    col = col.replace(valores_sem_salario, pd.NA)
    col_numerica = pd.to_numeric(col, errors="coerce")
    
    auditoria = df[
        col.isna() & ~df[coluna].astype("string").str.lower().isin(valores_sem_salario)
    ][[coluna]]
    
    df[coluna] = col_numerica.astype("Float64")
    
    return df, auditoria

In [206]:
df1, auditoria = clean_salario(df1, "salario")

In [207]:
df1["salario"].head()

0    <NA>
1    <NA>
2   12030
3   12038
4   14659
Name: salario, dtype: Float64

#### Padronização da Coluna "status_da_conta"

In [208]:
df1["status_da_conta"].head()

0     suspenso
1        ativo
2            a
3      inativo
4    bloqueado
Name: status_da_conta, dtype: object

In [209]:
def normalize_text(x):
    if pd.isna(x):
        return x
    x = str(x).lower().strip()
    x = unicodedata.normalize("NFKD", x).encode("ascii", "ignore").decode("utf-8")
    x = re.sub(r"\s+", " ", x)
    return x

map_status = {
    "ativo": "ativo",
    "a": "ativo",
    "inativo": "inativo",
    "in": "inativo",
    "suspenso": "suspenso",
    "s": "suspenso",
    "bloqueado": "bloqueado",
}

boolean_true = {"true", "verdadeiro"}
boolean_false = {"false", "falso"}

def clean_status(value):
    v = normalize_text(value)

    if pd.isna(v) or not isinstance(v, str):
        return pd.NA

    if v.isdigit():
        return "ativo" if v == "1" else pd.NA

    if v in boolean_true:
        return "ativo"
    if v in boolean_false:
        return "inativo"

    return map_status.get(v, pd.NA)

In [210]:
df1["status_da_conta"] = df1["status_da_conta"].apply(clean_status)

In [211]:
df1["status_da_conta"].head()

0     suspenso
1        ativo
2        ativo
3      inativo
4    bloqueado
Name: status_da_conta, dtype: object

#### Padronização da Coluna "score_de_credito"

In [212]:
df1["score_de_credito"].head(60)

0              852
1              517
2              428
3              662
4              375
5              844
6              341
7              807
8              648
9              445
10             724
11             864
12             813
13             816
14             600
15       Excelente
16             634
17             376
18             685
19             300
20             516
21             594
22             510
23             306
24             385
25             406
26             701
27             453
28             607
29             584
30             565
31             605
32             635
33             500
34             811
35             566
36             831
37             687
38             679
39             822
40             317
41             458
42             643
43             515
44      850 pontos
45             642
46             776
47             799
48             774
49             403
50             843
51             870
52    Não avaliado
53             408
54             749
55             531
56             340
57             337
58             863
59             359
Name: score_de_credito, dtype: object

In [213]:
def normalize_score(x):
    if pd.isna(x):
        return x
    x = str(x).lower().strip()
    x = unicodedata.normalize("NFKD", x).encode("ascii", "ignore").decode("utf-8")
    x = re.sub(r"\s+", " ", x)
    return x

map_status = {
    "excelente": 800,
    "bom": 700,
    "ruim": 400
}

def clean_score(value):
    if isinstance(value, (int, float)) and not pd.isna(value):
        return value

    if pd.isna(value):
        return pd.NA

    v = normalize_score(value)

    if pd.isna(v):
        return pd.NA

    if re.fullmatch(r"\d+", v):
        return int(v)

    return map_status.get(v, pd.NA)

In [214]:
df1["score_de_credito"] = df1["score_de_credito"].apply(clean_score)

In [215]:
df1["score_de_credito"].head()

0    852
1    517
2    428
3    662
4    375
Name: score_de_credito, dtype: object

#### Padronização da Coluna "produto_favorito"

In [216]:
df1["produto_favorito"].sample(5, random_state=4)

11869           monitor
46312                tv
14616    fone de ouvido
36637        smartwatch
46630        smartphone
Name: produto_favorito, dtype: object

In [217]:
df1['produto_favorito'] = (
    df1['produto_favorito']
    .str.replace(r'-\s*produto$', '', regex=True)
    .str.strip()
)

In [218]:
df1["produto_favorito"].unique()

array(['monitor', 'teclado', 'notebook', 'camera', 'mouse',
       'fone de ouvido', 'smartphone', 'tablet', nan, 'smartwatch', 'tv'],
      dtype=object)

In [219]:
df1['produto_favorito'] = (
    df1['produto_favorito']
    .replace(['nan', 'None', 'null', ''], np.nan)
    .astype('string')
    .str.strip()
)

In [220]:
df1["produto_favorito"].unique()

<StringArray>
[       'monitor',        'teclado',       'notebook',         'camera',
          'mouse', 'fone de ouvido',     'smartphone',         'tablet',
             <NA>,     'smartwatch',             'tv']
Length: 11, dtype: string

In [221]:
df1["produto_favorito"].head()

0     monitor
1     monitor
2     teclado
3    notebook
4      camera
Name: produto_favorito, dtype: string

#### Padronização da Coluna "valor_total_gasto"

In [222]:
df1["valor_total_gasto"].tail()

52495    2090.78
52496     R$2500
52497     718.06
52498    1218.89
52499    3468.76
Name: valor_total_gasto, dtype: object

In [223]:
mask = ~df1["valor_total_gasto"].astype(str).str.replace(r"[0-9.,]", "", regex=True).str.strip().eq("")
df1.loc[mask, "valor_total_gasto"].unique()

array(['Zero', 'Muito alto', 'Baixo', 'R$ 1.250,50', nan, 'R$2500'],
      dtype=object)

In [224]:
def limpar_valor(valor):
    if pd.isna(valor):
        return np.nan
    valor = str(valor).replace(" ", "").replace(".", "").replace(",", ".")
    try:
        return float(valor)
    except ValueError:
        return np.nan

In [225]:
df1["valor_total_gasto"] = df1["valor_total_gasto"].apply(limpar_valor)

In [226]:
df1["valor_total_gasto"].tail()

52495   209078
52496      NaN
52497    71806
52498   121889
52499   346876
Name: valor_total_gasto, dtype: float64

In [227]:
df1["valor_total_gasto"].dtype

dtype('float64')

#### Padronização da Coluna "categoria_cliente"

In [228]:
df1["categoria_cliente"].head()

0        ouro
1    diamante
2        ouro
3     platina
4        ouro
Name: categoria_cliente, dtype: object

In [229]:
df1["categoria_cliente"].unique()

array(['ouro', 'diamante', 'platina', 'bronze', 'prata', 'gold',
       'premium', 'vip', nan], dtype=object)

In [230]:
def diagnostico_coluna(df, coluna, n=60):
    ultimos = df[coluna].tail(n)
    tipos = set(type(x) for x in ultimos)
    tem_string_nan = any(str(x).lower() == "nan" for x in ultimos)
    dtype = df[coluna].dtype
    print(f"Diagnóstico da coluna '{coluna}':")
    print("Tipos encontrados nos últimos", n, "valores:", tipos)
    print("Existe string 'nan'? ", tem_string_nan)
    print("dtype da coluna:", dtype)

In [231]:
diagnostico_coluna(df1, "categoria_cliente")

Diagnóstico da coluna 'categoria_cliente':
Tipos encontrados nos últimos 60 valores: {<class 'str'>, <class 'float'>}
Existe string 'nan'?  True
dtype da coluna: object

In [232]:
df1["categoria_cliente"] = df1["categoria_cliente"].replace(["nan", "NaN", "None", ""], np.nan)

In [233]:
df1["categoria_cliente"] = df1["categoria_cliente"].astype("string").replace(["nan", "NaN", "None", ""], pd.NA)

In [234]:
diagnostico_coluna(df1, "categoria_cliente")

Diagnóstico da coluna 'categoria_cliente':
Tipos encontrados nos últimos 60 valores: {<class 'pandas._libs.missing.NAType'>, <class 'str'>}
Existe string 'nan'?  False
dtype da coluna: string

In [247]:
df1["categoria_cliente"].tail()

49995        ouro
49996      bronze
49997        ouro
49998    diamante
49999      bronze
Name: categoria_cliente, dtype: string

#### Padronização da Coluna "ativo"

In [250]:
df1["ativo"].tail()

49995    s
49996    s
49997    s
49998    n
49999    s
Name: ativo, dtype: object

In [251]:
df1["ativo"].unique()

array(['ativo', 's', 'n', nan, 'nao', 'inativo', 'true', '1', 'false',
       'sim', '0'], dtype=object)

In [253]:
def padronizar_ativo(x):
    if pd.isna(x):
        return pd.NA
    x = str(x).strip().lower()
    if x in {"ativo", "s", "sim", "true", "1"}:
        return "ativo"
    if x in {"inativo", "n", "nao", "não", "false", "0"}:
        return "inativo"
    return pd.NA

In [254]:
df1["ativo"] = df1["ativo"].apply(padronizar_ativo).astype("string")

In [255]:
df1["ativo"].unique()

<StringArray>
['ativo', 'inativo', <NA>]
Length: 3, dtype: string

In [256]:
df1["ativo"].head()

0      ativo
1      ativo
2    inativo
3    inativo
4    inativo
Name: ativo, dtype: string

#### Padronização da Coluna "regional_zona"

In [257]:
df1["regional_zona"].head()

0           norte
1    centro-oeste
2    centro-oeste
3          centro
4          centro
Name: regional_zona, dtype: object

In [258]:
df1["regional_zona"].unique()

array(['norte', 'centro-oeste', 'centro', 'sul', 'leste', 'oeste', nan],
      dtype=object)

In [259]:
def padronizar_regional_zona(x):
    if pd.isna(x):
        return pd.NA
    x = str(x).strip().lower()
    x = unicodedata.normalize("NFKD", x).encode("ascii", "ignore").decode("utf-8")
    x = x.replace("-", "_")
    mapa = {
        "norte": "norte",
        "sul": "sul",
        "leste": "leste",
        "oeste": "oeste",
        "centro": "centro",
        "centro_oeste": "centro-oeste",
        "centro-oeste": "centro-oeste"
    }
    return mapa.get(x, x)

In [260]:
df1["regional_zona"] = df1["regional_zona"].apply(padronizar_regional_zona).astype("string")

In [261]:
df1["regional_zona"].unique()

<StringArray>
['norte', 'centro-oeste', 'centro', 'sul', 'leste', 'oeste', <NA>]
Length: 7, dtype: string

In [ ]:
df1["regional_zona"].head()

## Limpando os Dados

- remover duplicatas
- tratar valores faltantes
- corrigir inconsistências
- tratar outliers
- validar regras de negócio

### Tratamento de Valores Ausentes

#### Deletando Colunas Vazias

In [235]:
df1 = df1.drop(columns=["unnamed_16"])

In [236]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,NaT,(85) 16400-0408,04397-312,<NA>,CE,<NA>,suspenso,852,monitor,2024-09-30,449503,ouro,NaN,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,1950-10-18,(31) 87481-2231,00123-456,"rua principal, 935 - guarulhos",PA,<NA>,ativo,517,monitor,NaT,675127,diamante,NaN,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaT,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,12030,ativo,428,teclado,NaT,690093,ouro,NaN,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,1976-06-08,(11) 42963-8044,80681-606,"rua principal, 630 - brasilia",RS,12038,inativo,662,notebook,NaT,374336,platina,NaN,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,2001-03-19,(11) 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,14659,bloqueado,375,camera,NaT,90773,ouro,NaN,n,centro

#### Valores Ausentes

In [237]:
df1.isna().sum()

id_cliente                   0
nome_completo                0
nome_limpo                   0
email                     9732
idade                     6386
data_de_nascimento        6507
telefone_celular          2097
cep                       2163
endereco                  5220
estado_uf                    0
salario                   9330
status_da_conta           2139
score_de_credito          6925
produto_favorito          6230
data_da_ultima_compra    36664
valor_total_gasto         7355
categoria_cliente         1162
obs_comentarios          40034
ativo                     1096
regional_zona             2677
dtype: int64

In [238]:
len(df1)

52500

In [239]:
# Deletando a coluna de observações

df1 = df1.drop(columns=["obs_comentarios"])

In [240]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,NaT,(85) 16400-0408,04397-312,<NA>,CE,<NA>,suspenso,852,monitor,2024-09-30,449503,ouro,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,1950-10-18,(31) 87481-2231,00123-456,"rua principal, 935 - guarulhos",PA,<NA>,ativo,517,monitor,NaT,675127,diamante,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaT,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,12030,ativo,428,teclado,NaT,690093,ouro,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,1976-06-08,(11) 42963-8044,80681-606,"rua principal, 630 - brasilia",RS,12038,inativo,662,notebook,NaT,374336,platina,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,2001-03-19,(11) 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,14659,bloqueado,375,camera,NaT,90773,ouro,n,centro

#### Duplicatas

In [241]:
df1.duplicated().sum()

np.int64(2500)

In [242]:
df1.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
52495     True
52496     True
52497     True
52498     True
52499     True
Length: 52500, dtype: bool

In [243]:
df1[df1.duplicated()]

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,ativo,regional_zona
50000,31362,Maria Gomes,maria gomes,maria...gomes@uol.com.br,24,1999-10-24,(21) 61369-1296,28607-746,"rua das flores, 401 - belo horizonte",RJ,5506,ativo,849,mouse,NaT,364034,platina,inativo,norte
50001,16722,Rafael Santos,rafael santos,rafael.santos@bol.com.br,76,1985-11-06,(11) 62613-2573,85267-384,"rua central, 546 - belo horizonte",RJ,6995,inativo,<NA>,teclado,2024-10-03,323128,prata,n,centro-oeste
50002,36789,Claudia Oliveira,claudia oliveira,claudia.oliveira@hotmail.com,42,1956-01-22,(11) 49487-5313,88836-534,"rua das flores, 172 - sao paulo",NAN,8966,suspenso,429,smartphone,NaT,232292,prata,n,norte
50003,22819,Pedro Souza,pedro souza,pedro.souza@bol.com.br,35,1960-12-08,(11) 99999-9999,87846-239,"rua central, 80 - belem",BA,14658,suspenso,<NA>,monitor,NaT,74335,prata,n,sul
50004,24795,Maria Souza,maria souza,maria.souza@yahoo.com,70,1958-09-24,(85) 64265-6137,04704-402,"rua central, 557 - porto alegre",MG,11155,bloqueado,561,monitor,2024-12-05,391055,platina,NaN,norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52495,26846,Paulo Ferreira,paulo ferreira,paulo.ferreira@outlook.com,38,1996-09-21,(11) 02698-1177,55227-309,"rua das flores, 941 - rio de janeiro",SP,14486,suspenso,550,tv,2024-07-13,209078,bronze,n,sul
52496,45552,Patricia Silva,patricia silva,patricia.silva@uol.com.br,53,1968-11-09,(11) 99999-9999,05529-465,"rua central, 860 - rio de janeiro",SP,<NA>,inativo,836,notebook,NaT,NaN,bronze,s,centro
52497,25412,João Alves,joao alves,joão.alves@uol.com.br,18,1968-06-09,123,60427-184,"rua da paz, 51 - brasilia",PE,6930,bloqueado,866,teclado,NaT,71806,bronze,n,norte
52498,44726,Lucia Gomes,lucia gomes,lucia.gomes@gmail.com,75,1990-02-15,(11) 58751-5945,71609-249,"rua da paz, 2 - porto alegre",SP,9779,ativo,<NA>,camera,NaT,121889,ouro,s,norte
52499,30012,Carlos Rodrigues,carlos rodrigues,carlos.rodrigues@outlook.com,35,1970-01-16,(11) 58549-1317,02218-308,"rua das flores, 372 - manaus",RS,8644,bloqueado,381,mouse,2024-09-09,346876,platina,n,sul

In [244]:
df1 = df1.drop_duplicates()

In [245]:
# Conferindo se as duplicatas foram removidas
df1[df1.duplicated()]

Empty DataFrame
Columns: [id_cliente, nome_completo, nome_limpo, email, idade, data_de_nascimento, telefone_celular, cep, endereco, estado_uf, salario, status_da_conta, score_de_credito, produto_favorito, data_da_ultima_compra, valor_total_gasto, categoria_cliente, ativo, regional_zona]
Index: []

In [246]:
df1.duplicated().sum()

np.int64(0)

## Enriquecer/Transformar os Dados

- criar novas colunas
- fazer joins
- preparar para modelagem