# Pipeline de Limpeza de Dados

## Importandos as Bibliotecas e os Dados

In [136]:
# Bibliotecas

import pandas as pd
import unicodedata
import re

In [137]:
# Dados

df = pd.read_csv("dados.csv")
df1 = df.copy()

## Vizualizando o Dataframe

In [138]:
df1.head()

,ID Cliente,NOME COMPLETO!,E-mail@Principal,idade,Data de Nascimento#,Telefone/Celular,CEP (Código),Endereço & Cidade,Estado-UF,Salário (R$),Status_da_Conta,Score de Crédito%,Produto Favorito*,Data da Última Compra,Valor Total Gasto,Categoria-Cliente,Unnamed: 16,Obs: Comentários,Ativo? (S/N),Regional/Zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [139]:
df1.dtypes

  ID Cliente               int64
NOME COMPLETO!            object
E-mail@Principal          object
 idade                    object
Data de Nascimento#       object
Telefone/Celular          object
CEP (Código)              object
Endereço & Cidade         object
Estado-UF                 object
Salário (R$)              object
Status_da_Conta           object
Score de Crédito%         object
Produto Favorito*         object
Data da Última Compra     object
Valor Total Gasto         object
Categoria-Cliente         object
Unnamed: 16              float64
Obs: Comentários          object
Ativo? (S/N)              object
Regional/Zona             object
dtype: object

In [140]:
df1.shape

(52500, 20)

In [141]:
df1.describe

<bound method NDFrame.describe of          ID Cliente      NOME COMPLETO!                E-mail@Principal  \
0                   1         Ana Silva             ana.silva@yahoo.com
1                   2       Carla Souza                             NaN
2                   3         Ana Costa           ana.costa@hotmail.com
3                   4    Mariana Santos       mariana.santos@bol.com.br
4                   5       MARIA silva       maria.silva@hotmail.com
...               ...               ...                             ...
52495           26846    PAULO ferreira    paulo.ferreira@outlook.com
52496           45552    Patricia Silva     patricia.silva@uol.com.br
52497           25412        João Alves           joão.alves@uol.com.br
52498           44726       Lucia Gomes           lucia.gomes@gmail.com
52499           30012  Carlos Rodrigues    carlos.rodrigues@outlook.com

       idade  Data de Nascimento# Telefone/Celular CEP (Código)  \
0          56        Janeiro 1992  (85) 16400-0408     04397312
1          69          10/18/1950    31 87481-2231       123456
2          46                 NaN  (11) 93064-3172    81093-112
3          32          06/08/1976  (11) 42963-8044     80681606
4          60          03/19/2001    11 60767-0256    34867-654
...       ...                 ...              ...          ...
52495      38          09/21/1996  (11) 02698-1177     55227309
52496      53          11/09/1968  (11) 99999-9999    05529-465
52497      18          06/09/1968              123     60427184
52498      75          15/02/1990      11587515945     71609249
52499      35          01/16/1970    11 58549-1317    02218-308

                          Endereço & Cidade Estado-UF          Salário (R$)  \
0                                       NaN        CE  Salário confidencial
1            Rua Principal, 935 - Guarulhos        PA         Não informado
2              Rua Central, 633 - Fortaleza        RJ                 12030
3             Rua Principal, 630 - Brasília        RS                 12038
4               Rua da Paz, 673 - Fortaleza        BA                 14659
...                                     ...       ...                   ...
52495  Rua das Flores, 941 - Rio de Janeiro        SP                 14486
52496     Rua Central, 860 - Rio de Janeiro        SP              3,500.50
52497             Rua da Paz, 51 - Brasília        PE                  6930
52498          Rua da Paz, 2 - Porto Alegre        SP                  9779
52499          Rua das Flores, 372 - Manaus        RS                  8644

      Status_da_Conta Score de Crédito% Produto Favorito*  \
0            Suspenso               852           Monitor
1               Ativo               517           Monitor
2                   A               428           TECLADO
3             Inativo               662          Notebook
4           Bloqueado               375            CAMERA
...               ...               ...               ...
52495        Suspenso               550                TV
52496         Inativo               836          Notebook
52497       Bloqueado               866           Teclado
52498           Ativo             Baixo            Camera
52499       Bloqueado               381             Mouse

      Data da Última Compra Valor Total Gasto Categoria-Cliente  Unnamed: 16  \
0                30/09/2024           4495.03              Ouro          NaN
1                2024-09-13           6751.27          Diamante          NaN
2                03-13-2024           6900.93              Ouro          NaN
3                04-06-2024           3743.36           Platina          NaN
4                01-27-2024            9077.3              Ouro          NaN
...                     ...               ...               ...          ...
52495            13/07/2024           2090.78            Bronze          NaN
52496            2024/01/15            R$2500            Bronze          NaN
52497            10-28-2024            718.06            Bronze          NaN
52498            12-30-2024           1218.89              Ouro          NaN
52499            09/09/2024           3468.76           Platina          NaN

         Obs: Comentários Ativo? (S/N) Regional/Zona
0                     NaN        Ativo         norte
1                     NaN            S  centro-oeste
2                     NaN            N  centro-oeste
3                     NaN            N        Centro
4                     NaN            N        Centro
...                   ...          ...           ...
52495    CLIENTE EXIGENTE            N           Sul
52496  Registro duplicado            S        Centro
52497  Registro duplicado            N         norte
52498  Registro duplicado            S         Norte
52499                 NaN            N           SUL

[52500 rows x 20 columns]>

In [142]:
df1.isnull().sum()

  ID Cliente                 0
NOME COMPLETO!               0
E-mail@Principal          7888
 idade                    2164
Data de Nascimento#       2575
Telefone/Celular          2097
CEP (Código)              2163
Endereço & Cidade         5220
Estado-UF                 1402
Salário (R$)              2073
Status_da_Conta           1046
Score de Crédito%         3039
Produto Favorito*         6230
Data da Última Compra     3346
Valor Total Gasto         2105
Categoria-Cliente         1162
Unnamed: 16              52500
Obs: Comentários         40034
Ativo? (S/N)              1096
Regional/Zona             2677
dtype: int64

## Padronizando os Dados

- remover espaços
- normalizar acentos
- transformar para minúsculas
- padronizar datas
- converter tipos
- normalizar categorias

### Padronização dos Nomes das Colunas

In [143]:
# função de padronização das colunas
def padronizar_colunas(colunas):
    novas_colunas = []
    for col in colunas:
        # remove acentos
        col = unicodedata.normalize('NFKD', col).encode('ascii', 'ignore').decode('utf-8')
        # deixa tudo em minúsculas
        col = col.lower()
        # remove caracteres especiais
        col = re.sub(r'[^a-z0-9_]', '_', col)
        # remove underscores duplicados
        col = re.sub(r'_+', '_', col)
        # remove underscore no começo ou fim
        col = col.strip('_')
        novas_colunas.append(col)
    return novas_colunas

df1.columns = padronizar_colunas(df1.columns)

In [144]:
df1.head()

,id_cliente,nome_completo,e_mail_principal,idade,data_de_nascimento,telefone_celular,cep_codigo,endereco_cidade,estado_uf,salario_r,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo_s_n,regional_zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [145]:
# Renomeando colunas específicas

df1 = df1.rename(columns={
    "e_mail_principal": "email",
    "cep_codigo": "cep",
    "endereco_cidade": "endereco",
    "salario_r": "salario",
    "ativo_s_n": "ativo"
})

In [146]:
df1.head()

,id_cliente,nome_completo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

### Padronização de Colunas Diversas

In [147]:
df1.head()

,id_cliente,nome_completo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,Suspenso,852,Monitor,30/09/2024,4495.03,Ouro,NaN,NaN,Ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"Rua Principal, 935 - Guarulhos",PA,Não informado,Ativo,517,Monitor,2024-09-13,6751.27,Diamante,NaN,NaN,S,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"Rua Central, 633 - Fortaleza",RJ,12030,A,428,TECLADO,03-13-2024,6900.93,Ouro,NaN,NaN,N,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"Rua Principal, 630 - Brasília",RS,12038,Inativo,662,Notebook,04-06-2024,3743.36,Platina,NaN,NaN,N,Centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"Rua da Paz, 673 - Fortaleza",BA,14659,Bloqueado,375,CAMERA,01-27-2024,9077.3,Ouro,NaN,NaN,N,Centro

In [148]:
cols = ['endereco', 'status_da_conta', 'produto_favorito', 'categoria_cliente', 'ativo', 'regional_zona']

for col in cols:
    df1[col] = (
        df1[col]
        .str.normalize('NFKD')
        .str.encode('ascii', errors='ignore')
        .str.decode('utf-8')
        .str.lower()
        .str.strip()
        .str.replace(r'\s+', ' ', regex=True)
    )

In [149]:
df1.head()

,id_cliente,nome_completo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,suspenso,852,monitor,30/09/2024,4495.03,ouro,NaN,NaN,ativo,norte
1,2,Carla Souza,NaN,69,10/18/1950,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,Não informado,ativo,517,monitor,2024-09-13,6751.27,diamante,NaN,NaN,s,centro-oeste
2,3,Ana Costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,12030,a,428,teclado,03-13-2024,6900.93,ouro,NaN,NaN,n,centro-oeste
3,4,Mariana Santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,12038,inativo,662,notebook,04-06-2024,3743.36,platina,NaN,NaN,n,centro
4,5,MARIA silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,14659,bloqueado,375,camera,01-27-2024,9077.3,ouro,NaN,NaN,n,centro

### Padronização Específica por Coluna

#### Padronização da Coluna "nome_completo"

In [150]:
df1["nome_completo"].tail()

52495      PAULO ferreira
52496      Patricia Silva
52497          João Alves
52498         Lucia Gomes
52499    Carlos Rodrigues
Name: nome_completo, dtype: object

In [151]:
df1['nome_completo'] = df1['nome_completo'].str.title()

In [152]:
df1['nome_completo'] = df1['nome_completo'].str.replace(
    r'^(sr\.?|sra\.?|srta\.?|dr\.?|dra\.?|prof\.?|profa\.?)\s*',
    '',
    regex=True,
    flags=re.IGNORECASE
)

In [153]:
df1["nome_completo"].tail()

52495      Paulo Ferreira
52496      Patricia Silva
52497          João Alves
52498         Lucia Gomes
52499    Carlos Rodrigues
Name: nome_completo, dtype: object

In [154]:
# Criando a coluna "nome_limpo" (para deduplicação)

df1['nome_limpo'] = (
    df1['nome_completo']
    .str.normalize('NFKD')
    .str.encode('ascii', errors='ignore')
    .str.decode('utf-8')
    .str.lower()
    .str.strip()
    .str.replace(r'\s+', ' ', regex=True)
)

colunas = list(df1.columns)

# Alterando a posição da coluna nome_limpo

idx = colunas.index('nome_completo')
colunas.remove('nome_limpo')
colunas.insert(idx + 1, 'nome_limpo')
df1 = df1[colunas]

In [155]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,...,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,...,suspenso,852,monitor,30/09/2024,4495.03,ouro,NaN,NaN,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,10/18/1950,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,...,ativo,517,monitor,2024-09-13,6751.27,diamante,NaN,NaN,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,...,a,428,teclado,03-13-2024,6900.93,ouro,NaN,NaN,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,...,inativo,662,notebook,04-06-2024,3743.36,platina,NaN,NaN,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,...,bloqueado,375,camera,01-27-2024,9077.3,ouro,NaN,NaN,n,centro

#### Padronização da Coluna "email"

**O que pode ser feito com segurança**

- Remover espaços extras
- Converter para minúsculas
- Remover quebras de linha
- Tratar casos óbvios de sujeira (“;”, vírgulas, espaços no meio)
- Validar formato básico (opcional)

**O que não deve ser feito**

- Não remover pontos antes do @ (ex.: joao.silva@gmail.com ≠ joaosilva@gmail.com)
- Não remover sinais como “+” (ex.: joao+teste@gmail.com é válido)
- Não tentar “corrigir” domínios manualmente
- Não aplicar normalização de acentos (e‑mail não deve ter acentos, mas se tiver, é melhor sinalizar do que alterar)

In [156]:
df1.tail()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,...,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
52495,26846,Paulo Ferreira,paulo ferreira,paulo.ferreira@outlook.com,38,09/21/1996,(11) 02698-1177,55227309,"rua das flores, 941 - rio de janeiro",SP,...,suspenso,550,tv,13/07/2024,2090.78,bronze,NaN,CLIENTE EXIGENTE,n,sul
52496,45552,Patricia Silva,patricia silva,patricia.silva@uol.com.br,53,11/09/1968,(11) 99999-9999,05529-465,"rua central, 860 - rio de janeiro",SP,...,inativo,836,notebook,2024/01/15,R$2500,bronze,NaN,Registro duplicado,s,centro
52497,25412,João Alves,joao alves,joão.alves@uol.com.br,18,06/09/1968,123,60427184,"rua da paz, 51 - brasilia",PE,...,bloqueado,866,teclado,10-28-2024,718.06,bronze,NaN,Registro duplicado,n,norte
52498,44726,Lucia Gomes,lucia gomes,lucia.gomes@gmail.com,75,15/02/1990,11587515945,71609249,"rua da paz, 2 - porto alegre",SP,...,ativo,Baixo,camera,12-30-2024,1218.89,ouro,NaN,Registro duplicado,s,norte
52499,30012,Carlos Rodrigues,carlos rodrigues,carlos.rodrigues@outlook.com,35,01/16/1970,11 58549-1317,02218-308,"rua das flores, 372 - manaus",RS,...,bloqueado,381,mouse,09/09/2024,3468.76,platina,NaN,NaN,n,sul

In [157]:
df1['email'] = (
    df1['email']
    .astype(str)
    .str.strip()
    .str.lower()
    .str.replace(r'\s+', '', regex=True)
    .str.replace(r'[;,]+', '', regex=True)
)

In [158]:
import numpy as np

def limpar_e_validar_email(e):
    e = str(e).strip().lower()
    e = e.replace(" ", "")

    # Valores "nulos"
    if e in ["", "nao_informado", "não_informado", "nao informado", "none", "null"]:
        return np.nan

    # sem arroba
    if '@' not in e:
        return np.nan

    usuario, dominio = e.split('@', 1)

    # Sem usuario antes do @
    if usuario == "":
        return np.nan

    # Dominio sem ponto
    if '.' not in dominio:
        return np.nan

    return e

df1['email'] = df1['email'].apply(limpar_e_validar_email)

In [159]:
df1.tail()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,...,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
52495,26846,Paulo Ferreira,paulo ferreira,paulo.ferreira@outlook.com,38,09/21/1996,(11) 02698-1177,55227309,"rua das flores, 941 - rio de janeiro",SP,...,suspenso,550,tv,13/07/2024,2090.78,bronze,NaN,CLIENTE EXIGENTE,n,sul
52496,45552,Patricia Silva,patricia silva,patricia.silva@uol.com.br,53,11/09/1968,(11) 99999-9999,05529-465,"rua central, 860 - rio de janeiro",SP,...,inativo,836,notebook,2024/01/15,R$2500,bronze,NaN,Registro duplicado,s,centro
52497,25412,João Alves,joao alves,joão.alves@uol.com.br,18,06/09/1968,123,60427184,"rua da paz, 51 - brasilia",PE,...,bloqueado,866,teclado,10-28-2024,718.06,bronze,NaN,Registro duplicado,n,norte
52498,44726,Lucia Gomes,lucia gomes,lucia.gomes@gmail.com,75,15/02/1990,11587515945,71609249,"rua da paz, 2 - porto alegre",SP,...,ativo,Baixo,camera,12-30-2024,1218.89,ouro,NaN,Registro duplicado,s,norte
52499,30012,Carlos Rodrigues,carlos rodrigues,carlos.rodrigues@outlook.com,35,01/16/1970,11 58549-1317,02218-308,"rua das flores, 372 - manaus",RS,...,bloqueado,381,mouse,09/09/2024,3468.76,platina,NaN,NaN,n,sul

#### Padronização da Coluna "idade"

In [160]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,...,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,...,suspenso,852,monitor,30/09/2024,4495.03,ouro,NaN,NaN,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,10/18/1950,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,...,ativo,517,monitor,2024-09-13,6751.27,diamante,NaN,NaN,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,...,a,428,teclado,03-13-2024,6900.93,ouro,NaN,NaN,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,...,inativo,662,notebook,04-06-2024,3743.36,platina,NaN,NaN,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,...,bloqueado,375,camera,01-27-2024,9077.3,ouro,NaN,NaN,n,centro

In [161]:
df1.dtypes

id_cliente                 int64
nome_completo             object
nome_limpo                object
email                     object
idade                     object
data_de_nascimento        object
telefone_celular          object
cep                       object
endereco                  object
estado_uf                 object
salario                   object
status_da_conta           object
score_de_credito          object
produto_favorito          object
data_da_ultima_compra     object
valor_total_gasto         object
categoria_cliente         object
unnamed_16               float64
obs_comentarios           object
ativo                     object
regional_zona             object
dtype: object

In [162]:
df1['idade'] = pd.to_numeric(df1['idade'], errors='coerce').astype('float64')
pd.set_option('display.float_format', '{:.0f}'.format)
df1.loc[(df1['idade'] < 0) | (df1['idade'] > 100), 'idade'] = np.nan

In [163]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,...,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,unnamed_16,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,Janeiro 1992,(85) 16400-0408,04397312,NaN,CE,...,suspenso,852,monitor,30/09/2024,4495.03,ouro,NaN,NaN,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,10/18/1950,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,...,ativo,517,monitor,2024-09-13,6751.27,diamante,NaN,NaN,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaN,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,...,a,428,teclado,03-13-2024,6900.93,ouro,NaN,NaN,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,06/08/1976,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,...,inativo,662,notebook,04-06-2024,3743.36,platina,NaN,NaN,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,03/19/2001,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,...,bloqueado,375,camera,01-27-2024,9077.3,ouro,NaN,NaN,n,centro

In [164]:
df1.dtypes

id_cliente                 int64
nome_completo             object
nome_limpo                object
email                     object
idade                    float64
data_de_nascimento        object
telefone_celular          object
cep                       object
endereco                  object
estado_uf                 object
salario                   object
status_da_conta           object
score_de_credito          object
produto_favorito          object
data_da_ultima_compra     object
valor_total_gasto         object
categoria_cliente         object
unnamed_16               float64
obs_comentarios           object
ativo                     object
regional_zona             object
dtype: object

#### Padronização das Colunas "data_de_nascimento" e "data_da_ultima_compra"

In [182]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,NaT,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,suspenso,852,monitor,30/09/2024,4495.03,ouro,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,1950-10-18,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,Não informado,ativo,517,monitor,2024-09-13,6751.27,diamante,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaT,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,12030,a,428,teclado,03-13-2024,6900.93,ouro,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,1976-06-08,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,12038,inativo,662,notebook,04-06-2024,3743.36,platina,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,2001-03-19,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,14659,bloqueado,375,camera,01-27-2024,9077.3,ouro,n,centro

In [188]:
def limpar_data(col, validar_intervalo=True, ano_min=1900, ano_max=2026):
    # Converte para formato de data (datetime)
    col = pd.to_datetime(col, errors='coerce')
    
    # Validação de intervalo ()
    if validar_intervalo:
        if ano_min is not None:
            col = col.mask(col.dt.year < ano_min, pd.NaT)
        if ano_max is not None:
            col = col.mask(col.dt.year > ano_max, pd.NaT)
    
    return col

In [189]:
df1['data_de_nascimento'] = limpar_data(df1['data_de_nascimento'], validar_intervalo=True, ano_min=1900, ano_max=2026)
df1['data_da_ultima_compra'] = limpar_data(df1['data_da_ultima_compra'])

In [190]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,NaT,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,suspenso,852,monitor,2024-09-30,4495.03,ouro,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,1950-10-18,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,Não informado,ativo,517,monitor,NaT,6751.27,diamante,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaT,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,12030,a,428,teclado,NaT,6900.93,ouro,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,1976-06-08,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,12038,inativo,662,notebook,NaT,3743.36,platina,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,2001-03-19,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,14659,bloqueado,375,camera,NaT,9077.3,ouro,n,centro

#### Padronização da Coluna "telefone_celular"

#### Padronização da Coluna "cep"

#### Padronização da Coluna "endereco"

#### Padronização da Coluna "estado_uf"

#### Padronização da Coluna "salario"

#### Padronização da Coluna "status_da_conta"

#### Padronização da Coluna "score_de_credito"

#### Padronização da Coluna "produto_favorito"

#### Padronização da Coluna "valor_total_gasto"

#### Padronização da Coluna "categoria_cliente"

#### Padronização da Coluna "ativo"

#### Padronização da Coluna "regional_zona"

## Limpando os Dados

- remover duplicatas
- tratar valores faltantes
- corrigir inconsistências
- tratar outliers
- validar regras de negócio

### Tratamento de Valores Ausentes

#### Deletando Colunas Vazias

In [169]:
df1 = df1.drop(columns=["unnamed_16"])

In [170]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,obs_comentarios,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,NaT,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,suspenso,852,monitor,30/09/2024,4495.03,ouro,NaN,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,1950-10-18,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,Não informado,ativo,517,monitor,2024-09-13,6751.27,diamante,NaN,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaT,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,12030,a,428,teclado,03-13-2024,6900.93,ouro,NaN,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,1976-06-08,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,12038,inativo,662,notebook,04-06-2024,3743.36,platina,NaN,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,2001-03-19,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,14659,bloqueado,375,camera,01-27-2024,9077.3,ouro,NaN,n,centro

#### Valores Ausentes

In [171]:
df1.isna().sum()

id_cliente                   0
nome_completo                0
nome_limpo                   0
email                     9732
idade                     6386
data_de_nascimento        6507
telefone_celular          2097
cep                       2163
endereco                  5220
estado_uf                 1402
salario                   2073
status_da_conta           1046
score_de_credito          3039
produto_favorito          6230
data_da_ultima_compra     3346
valor_total_gasto         2105
categoria_cliente         1162
obs_comentarios          40034
ativo                     1096
regional_zona             2677
dtype: int64

In [172]:
len(df1)

52500

In [173]:
# Deletando a coluna de observações

df1 = df1.drop(columns=["obs_comentarios"])

In [174]:
df1.head()

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,ativo,regional_zona
0,1,Ana Silva,ana silva,ana.silva@yahoo.com,56,NaT,(85) 16400-0408,04397312,NaN,CE,Salário confidencial,suspenso,852,monitor,30/09/2024,4495.03,ouro,ativo,norte
1,2,Carla Souza,carla souza,NaN,69,1950-10-18,31 87481-2231,123456,"rua principal, 935 - guarulhos",PA,Não informado,ativo,517,monitor,2024-09-13,6751.27,diamante,s,centro-oeste
2,3,Ana Costa,ana costa,ana.costa@hotmail.com,46,NaT,(11) 93064-3172,81093-112,"rua central, 633 - fortaleza",RJ,12030,a,428,teclado,03-13-2024,6900.93,ouro,n,centro-oeste
3,4,Mariana Santos,mariana santos,mariana.santos@bol.com.br,32,1976-06-08,(11) 42963-8044,80681606,"rua principal, 630 - brasilia",RS,12038,inativo,662,notebook,04-06-2024,3743.36,platina,n,centro
4,5,Maria Silva,maria silva,maria.silva@hotmail.com,60,2001-03-19,11 60767-0256,34867-654,"rua da paz, 673 - fortaleza",BA,14659,bloqueado,375,camera,01-27-2024,9077.3,ouro,n,centro

#### Duplicatas

In [175]:
df1.duplicated().sum()

np.int64(2500)

In [176]:
df1.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
52495     True
52496     True
52497     True
52498     True
52499     True
Length: 52500, dtype: bool

In [177]:
df1[df1.duplicated()]

,id_cliente,nome_completo,nome_limpo,email,idade,data_de_nascimento,telefone_celular,cep,endereco,estado_uf,salario,status_da_conta,score_de_credito,produto_favorito,data_da_ultima_compra,valor_total_gasto,categoria_cliente,ativo,regional_zona
50000,31362,Maria Gomes,maria gomes,maria...gomes@uol.com.br,24,1999-10-24,(21) 61369-1296,28607746,"rua das flores, 401 - belo horizonte",RJ,5506,ativo,849,mouse,Nunca comprou,3640.34,platina,inativo,norte
50001,16722,Rafael Santos,rafael santos,rafael.santos@bol.com.br,76,1985-11-06,11 62613-2573,85267384,"rua central, 546 - belo horizonte",RJ,6995,inativo,NaN,teclado,03/10/2024,3231.28,prata,n,centro-oeste
50002,36789,Claudia Oliveira,claudia oliveira,claudia.oliveira@hotmail.com,42,1956-01-22,11 49487-5313,88836534,"rua das flores, 172 - sao paulo",NaN,8966,suspenso,429,smartphone,2024-12-07,2322.92,prata,n,norte
50003,22819,Pedro Souza,pedro souza,pedro.souza@bol.com.br,35,1960-12-08,11999999999,87846-239,"rua central, 80 - belem",BA,14658,suspenso,NaN,monitor,NaN,743.35,prata,n,sul
50004,24795,Maria Souza,maria souza,maria.souza@yahoo.com,70,1958-09-24,85642656137,04704-402,"rua central, 557 - porto alegre",MG,11155,bloqueado,561,monitor,05/12/2024,3910.55,platina,NaN,norte
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52495,26846,Paulo Ferreira,paulo ferreira,paulo.ferreira@outlook.com,38,1996-09-21,(11) 02698-1177,55227309,"rua das flores, 941 - rio de janeiro",SP,14486,suspenso,550,tv,13/07/2024,2090.78,bronze,n,sul
52496,45552,Patricia Silva,patricia silva,patricia.silva@uol.com.br,53,1968-11-09,(11) 99999-9999,05529-465,"rua central, 860 - rio de janeiro",SP,"3,500.50",inativo,836,notebook,2024/01/15,R$2500,bronze,s,centro
52497,25412,João Alves,joao alves,joão.alves@uol.com.br,18,1968-06-09,123,60427184,"rua da paz, 51 - brasilia",PE,6930,bloqueado,866,teclado,10-28-2024,718.06,bronze,n,norte
52498,44726,Lucia Gomes,lucia gomes,lucia.gomes@gmail.com,75,1990-02-15,11587515945,71609249,"rua da paz, 2 - porto alegre",SP,9779,ativo,Baixo,camera,12-30-2024,1218.89,ouro,s,norte
52499,30012,Carlos Rodrigues,carlos rodrigues,carlos.rodrigues@outlook.com,35,1970-01-16,11 58549-1317,02218-308,"rua das flores, 372 - manaus",RS,8644,bloqueado,381,mouse,09/09/2024,3468.76,platina,n,sul

In [178]:
df1 = df1.drop_duplicates()

In [179]:
# Conferindo se as duplicatas foram removidas
df1[df1.duplicated()]

Empty DataFrame
Columns: [id_cliente, nome_completo, nome_limpo, email, idade, data_de_nascimento, telefone_celular, cep, endereco, estado_uf, salario, status_da_conta, score_de_credito, produto_favorito, data_da_ultima_compra, valor_total_gasto, categoria_cliente, ativo, regional_zona]
Index: []

In [180]:
df1.duplicated().sum()

np.int64(0)

## Enriquecer/Transformar os Dados

- criar novas colunas
- fazer joins
- preparar para modelagem

### Coluna de Nomes Limpos Para Processamento de Dados